body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: whitesmoke;
    margin: 0px;
}

header, footer {
    background-color: #101010;
    padding: 25px;
    text-align: center;
}

section {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

a, header, footer {
    text-decoration: none;
    color: whitesmoke;
}

.grid-container {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    background-color: #FFF;
    border: 2px dotted #101010;
    margin: 0px;
    padding: 0px;
}
